<ion-header>
  <ion-toolbar>
    <ion-title>Resetear Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
          <ion-item>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input formControlName="username" type="text" required></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit" [disabled]="!resetPasswordForm.valid">
            Enviar Solicitud
          </ion-button>
        </form>

        <ion-item *ngIf="storedPassword" class="mt-3">
          <ion-label>Contraseña Recuperada:</ion-label>
          <ion-input [value]="storedPassword" readonly></ion-input>
        </ion-item>
        
        <ion-item *ngIf="!storedPassword" class="mt-3">
          <ion-label color="danger">No se encontró una contraseña para este usuario.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
