<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Bienvenido, {{ userName }}!</h1>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Próximos Eventos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let event of upcomingEvents">
                <ion-label>
                  <h2>{{ event.title }}</h2>
                  <p>{{ event.date | date:'longDate' }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-button expand="full" (click)="handleLogout()">Cerrar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
