/* Estilos específicos para la página de inicio */

ion-card {
  margin: 10px 0;
}

ion-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ion-button {
  margin-top: 20px;
}
