ion-header {
  background-color: #488aff;
  color: #fff;
}

ion-toolbar {
  --background: #3880ff;
  --color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #3880ff;
  font-size: 1.5rem;
}

ion-card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(17, 16, 16, 0.337);
  transition: transform 0.3s ease-in-out;
}

ion-card:hover {
  transform: translateY(-10px);
}

ion-button {
  margin-top: 20px;
  --background: #3880ff;
}

ion-icon {
  font-size: 1.5rem;
  color: rgb(232, 227, 227);
}

ion-buttons {
  padding-right: 10px;
}

ion-item {
  --background: #1c1b1b;
  border-radius: 8px;
  margin-bottom: 8px;
}

